.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 5;
}
.headerContainer {
  height: 15vh;
}
.navBar {
  background: rgba(69, 17, 200, 0.581);
  height: 15vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.menuBar {
  background: rgba(64, 28, 155, 0.581);
  height: 84.5vh;
  width: 33%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

  z-index: 5;
  overflow: hidden;
}
.logoImg {
  position: relative;
  top: 1vh;
}
.logoTxt {
  position: relative;
  top: 6vh;
  left: 1vw;
}

.navItems {
  position: relative;
  left: 33vw;
  border-left: 4px solid black;
  border-right: 4px solid black;
  height: 100%;
  width: 33vw;
  display: flex;
}
.navIcon {
  position: relative;
  top: 5.5vh;
  margin-left: 2vw;
  width: 100vw;
}
.burgerIcon {
  position: relative;
  top: 5vh;
  left: 41.5vw;
}
